body {
	background-color: ghostwhite;
	font-family:"Helvetica Neue",Helvetica,Arial,sans-serif;
}

.box {
  background-image: url("pics/IMG_4085.jpg");
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
  font-size: 40px;
  height: 820px;
	width: 100%;
  text-align: center;
	color: white;
}
 p {
	padding: 10px 15px 0px 25px;
 }

h2 {
	padding-left: 15px;
	font-size: 40px;
}

h3 {
	padding-top: 20px;
	padding-left: 25px;
}

img.displayed {
	display:block;
	margin-left:auto;
	margin-right:auto;
}
div {
	padding: 20px;
	text-align: center;
}

.left {
	float: left;
	padding: 0px 20px 20px 0px;
}

.clearLeft {
	float: none;
	clear: left;
}
.right {
	float: right;
	padding: 0px 0px 10px 40px;
}

.clearRight {
	float: none;
	clear: right;
}
